# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/
.idea/

# Data & artifacts (do NOT commit)
data/
runs/
exports/
models/
*.pt
*.onnx
*.engine
*.torchscript
